# Go releaser
export GITHUB_TOKEN
GITHUB_TOKEN="$(pass github/docker-registry)"

# JReleaser
# We add jreleaser as suffix because this is the id of the release
export JRELEASER_PROJECT_VERSION=0.1.0-jreleaser
export JRELEASER_GITHUB_TOKEN
JRELEASER_GITHUB_TOKEN="$GITHUB_TOKEN"
# for the docker upload
export JRELEASER_DOCKER_GHCR_IO_PASSWORD="$JRELEASER_GITHUB_TOKEN"

# Go Releaser
export GORELEASER_PREVIOUS_TAG=v0.1.0-jreleaser
export GORELEASER_CURRENT_TAG=v0.1.1-goreleaser