# build tool
if [ -x "$(command -v "nix-shell")" ]; then
  use nix
fi

# Go releaser
export GITHUB_TOKEN
GITHUB_TOKEN="$(pass github/docker-registry)"

# JReleaser
# We add jreleaser as suffix because this is the id of the release
export JRELEASER_PROJECT_VERSION=0.1.0-jreleaser
export JRELEASER_GITHUB_TOKEN
JRELEASER_GITHUB_TOKEN="$GITHUB_TOKEN"
# for the docker upload
export JRELEASER_DOCKER_GHCR_IO_PASSWORD="$JRELEASER_GITHUB_TOKEN"

# Ko
export GIT_REP0=gerardnico/releasers-go
export KO_DOCKER_REPO=ghcr.io/$GIT_REP0

# Git Hooks (will modify .git/config file)
git config core.hooksPath ./.git-hooks
