# Used by JReleaser

# We add jreleaser as suffix because this is the id of the release
export JRELEASER_PROJECT_VERSION=0.1.0-jreleaser

export JRELEASER_GITHUB_TOKEN
JRELEASER_GITHUB_TOKEN="$(pass github/docker-registry)"
# for the docker upload
export JRELEASER_DOCKER_GHCR_IO_PASSWORD="$JRELEASER_GITHUB_TOKEN"